doctype

html
	head
		meta(charset="utf-8")

		title= self.title

		for stylesheet in self.stylesheets
			link(rel="stylesheet", type="text/css", href=stylesheet)

		for script in self.scripts
			script(type="text/javascript", src=script)
	body
		p
			| Hello, 
			strong world
			| .
