doctype

html
	head
		meta(charset="utf-8")

		title= title

		for stylesheet in stylesheets
			link(rel="stylesheet")(type="text/css")(href=stylesheet)

		for script in scripts
			script(type="text/javascript")(src=script)
	body
		p
			| Hello, 
			strong world
			| .
